body{
    /*este es un comentario*/
    background: gold;
    font-family: sans-serif;
    }
    p{
        color: aqua;
    }
a {
    color:blueviolet;
}
p
{
  jwdbwqdjw
}

p{
  kankjnsdajks
}

p {kwhkjhwsqbjk}
p {
    /*background: dodgerblue; */
  }
  main {color: brown;}
.chido{
    background-color: hotpink;
    font-weight: bold;
}

#unico {
    color:hotpink;
    font-size: small;

}