h1 {
    background-color: aqua;
}

img {
    display:block;
    width: 100px;
    /* height: 300px;*/
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

.image-left {
    /*float: left;
    margin-right: 16px;
    float: inline-start;
    margin-inline-end: 16px;*/
    
}

.image-right {
    /*float: right;
    margin-left: 10px;
    float: inline-end;
    margin-inline-start: 16px;*/

}